
{% load poll_extras %}

<table id="reporte" width="100%">
	<caption>Listado de Centros</caption>
	  <thead>
	  	<tr>
	      <th>No.</th>
	      <th>Cod.</th>
	      <th>Departamento</th>
	      {% if por_municipio == True %}
	      <th>Cod.</th>
	      <th>Municipio</th>
	      {% endif %}
	      {% if por_centro != True and por_nivel != True and por_tipo_centro != True and por_jornada != True %}
	      <th>Centros</th>
	      {% endif %}
	      {% if por_centro == True %}
	      <th >Codigo</th>
	      <th>Nombre</th>
	      {% endif %}
	      {% if por_nivel == True %}
	      <th >Nivel</th>
	      {% endif %}
	      {% if por_tipo_centro == True %}
	      <th >Tipo centro</th>
	      {% endif %}
	      {% if por_jornada == True %}
	      <th >Jornada</th>
	      {% endif %}
	      {% for p in anio %}
	      <th >Si <br/>{{p}}</th>
	      <th >No <br/>{{p}}</th>
	      <th >Eficiencia <br/>{{p}}</th>
	      <th >Avance <br/>{{p}}</th>
	      {% endfor %}
	    </tr>
	  </thead>

	  <tbody id="tbody">
	  {% for c in instancia %}
	    <tr>
	      <td style="width:5%;">{{forloop.counter}}</td>
	      <td>{{c.codigo_departamento}}</td>
	      <td>{{c.departamento}}</td>
	      {% if por_municipio == True %}
	      <td>{{c.codigo_municipio}}</td>
	      <td>{{c.municipio}}</td>
	      {% endif %}
	      {% if por_centro != True and por_nivel != True and por_tipo_centro != True and por_jornada != True %}
	      <td>{{c.centros}}</td>
	      {% endif %}
	      {% if por_centro == True %}
	      <td>{{c.codigo}}</td>
	      <td>{{c.nombre}}</td>
	      {% endif %}
	      {% if por_nivel == True %}
	      <td>{{c.nivel}}</td>
	      {% endif %}
	      {% if por_tipo_centro == True %}
	      <td>{{c.tipo_centro}}</td>
	      {% endif %}
	      {% if por_jornada == True %}
	      <td>{{c.jornada}}</td>
	      {% endif %}
	      {% for p in anio %}
	      {% with "total_si_"|add:p as anio_id %}
	      <td>{{c|get_item:anio_id}}</td>
	      {% endwith %}
	      {% with "total_no_"|add:p as anio_id %}
	      <td>{{c|get_item:anio_id}}</td>
	      {% endwith %}
	      {% with "eficiencia_"|add:p as anio_id %}
	      <td>{{c|get_item:anio_id}}%</td>
	      {% endwith %}
	      {% with "avance_"|add:p as anio_id %}
	      <td>{{c|get_item:anio_id}}%</td>
	      {% endwith %}
	      {% endfor %}
	    </tr>
	  {% endfor %}
	  </tbody>

	</table>

	<script type="text/javascript">

		var table = $("#reporte").dataTable({
	        dom: '<"top"ifrp<"clear">><T<"clear">lfrtip>',
	        tableTools: {
	            "aButtons": [
	                "copy",
	                "csv",
	                "xls",
	                {
	                    "sExtends": "pdf",
	                    "sPdfOrientation": "landscape",
	                    "sPdfMessage": "Reporte de días clases año {% for anio in anio %}{{anio}},{% endfor %}"
	                }
	            ]
	        }
	        
	    })   
	    
	</script>