{% extends "base_monitoreo.html" %}
{% block ruta %}
	<ul class="breadcrumbs">
	  <li><a href="{% url 'vista_inicio' %}">Inicio</a></li>
	  <li class="unavailable"><a href="#">Consultar Información de Voluntarios</a></li>
	</ul>
{% endblock %}
{% block header %}

{% endblock %}

{% block content %}

	<form method="POST" id="frm_boleta" class="form-horizontal" role="form" {% if formulario.is_multipart %}enctype="multipart/form-data"{% endif %}>
		{{ formulario.non_field_errors }}
		{% if mensaje %}<div class="alert alert-danger">{{ mensaje }}</div>{% endif %}
		{% csrf_token %}
		<div class="row">
			<div class="large-4 columns">
				<label for="id_departamento">Departamento: <small>Obligatorio</small></label>
				{{formulario.departamento}}
			</div>
			<div class="large-4 columns">
				<label for="id_municipio">Municipio: </label>
				{{formulario.municipio}}
			</div>
			<div class="large-4 columns">
				<label for="id_aldea">Aldea: </label>
				{{formulario.aldea}}
			</div>
		</div>
		
		<div class="row">
		
			<div class="large-12 columns">
				<a class="button small " href="{% url 'vista_inicio' %}"><i class="icon-arrow-left"></i> Atras</a>
				<button type="submit" class="button small" id="btn_download"><i class="icon-search"></i> Buscar</button>
			</div>
		
		</div>
		{% if centro %}
		<div class="row">
			<div class="large-12 columns">
				<table id="id_centrolist">
				  <thead>
				    <tr>
				      <th>Departamento</th>
				      <th>Municipio</th>
				      <th>Aldea</th>
				      <th>Identidad</th>
				      <th>Nombre completo</th>
				      {% if perms.general.puede_consultar_centrosasignados_voluntarios %}
				      <th>Centros asignados</th>
				      {% endif %}
				      {% if user.groups.all.0.name == 'SUPERVISOR' %}
				      <th></th>
				      {% endif %}
				    </tr>
				  </thead>
				  <tbody>
				  {% for c in centro %}
				    <tr>
				      <td>{{c.departamento}}</td>
				      <td>{{c.municipio}}</td>
				      <td>{{c.aldea}}</td>
				      <td>{{c.identidad}}</td>
				      <td>{{c.nombre_completo}}</td>
				      {% if perms.general.puede_consultar_centrosasignados_voluntarios %}
				      <td><a href="#" data-reveal-id="myModal{{c.pk}}"><i class="icon-external-link"> Mostrar</i></a></td>
				      {% endif %}
				      {% if user.groups.all.0.name == "SUPERVISOR" %}
				      <td><a href="{% url 'vista_editar_voluntario' c.pk %}"><i class="icon-edit"> Editar</i></a></td>
				      {% endif %}
				    </tr>  
				  {% empty %}
				  	<tr>
				      <td colspan="8">Sin resultados que mostrar!</td>
				    </tr>
				  {% endfor %}
				  </tbody>
				</table>
			</div>
		</div>
		{% else %}
		<div class="row">
			<div class="large-12 columns">
				<h5>Sin resultados que mostrar!</h5>
			</div>
		</div>
		{% endif %}
		{% for c in centro %}
			<div id="myModal{{c.pk}}" class="reveal-modal" data-reveal> 
				<h2>Detalle.</h2> 
				<p class="lead">Centros asignados a {{c.nombre_completo}}.</p>
				<ul>
				{% for x in c.centros.all %}
					<li>{{x}}</li> 
				{% endfor %}
				</ul>
				<a class="close-reveal-modal">&#215;</a> 
			</div>
		{% endfor %}
	</form>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
		$("#btn_download").attr("disabled",'disabled')
		$("#id_semana").attr("disabled",'disabled')
		$(document).ready(function(){
			
			$("#id_municipio").empty();
			$("#id_municipio").append("<option value=''>----------</option>");
			$("#id_aldea").empty();
			$("#id_aldea").append("<option value=''>----------</option>");
			$("#id_departamento").attr("required",'required')

			{% if centro|length > 4 %}
				$("#id_centrolist").dataTable()
				$(".paginate_button").addClass('button tiny secondary')
			{% endif %}

			{% if exito %}
				$.gritter.add({
						title: '¡Éxito!',
						text: 'Su información ha sido almacenada exitosamente.',
						sticky: false,
						time: '3000',
						class_name: 'gritter-success gritter-center'
				});
			{% endif %}
			{% if error %}
				$.gritter.add({
						title: '¡Falló!',
						text: 'Ocurrió un error al guardar los datos, por favor revise la información digitada.</ br>{% autoescape off %}{{errores}} {% endautoescape %}',
						sticky: false,
						time: '15000',
						class_name: 'gritter-error gritter-right'
				});
			{% endif %}

			$("#id_departamento").on('change',function(){
				if ($.isEmptyObject($(this).val())){
					$("#btn_download").attr("disabled",'disabled')
				}else{
					$("#btn_download").removeAttr("disabled")
				}
				$("#id_municipio").empty();
				$("#id_aldea").empty();
				$("#id_municipio").append("<option value=''>----------</option>");
				$("#id_aldea").append("<option value=''>----------</option>");
				
				$.ajax({
					type: "GET",
					data:
						{
							bandera: 'd',
							id: $(this).val()
						},
					url: "{% url 'vista_ajax_municipio' %}",
					success: function(msg)
					{
						$.each(msg, function(key, val)
						{
							$("#id_municipio").append("<option value="+ val.pk  +">" + '' + val.codigo + ' | ' + val.nombre + "</option>");
						});
						$("#id_semana").removeAttr("disabled")
					}
				});
				if ($.isEmptyObject($(this).val())){
					$("#id_semana").attr("disabled",'disabled')
				}
			})

			$("#id_municipio").on('change',function(){
				$("#id_aldea").empty();
				$("#id_centros").empty();
				$("#id_aldea").append("<option value=''>----------</option>");
				$.ajax({
					type: "GET",
					data:
						{
							bandera: 'm',
							id: $(this).val()
						},
					url: "{% url 'vista_ajax_municipio' %}",
					success: function(msg)
					{
						$.each(msg, function(key, val)
						{
							$("#id_aldea").append("<option value="+ val.pk  +">" + '' + val.codigo + ' | ' + val.nombre + "</option>");
						});
					}
				});

				$.ajax({
					type: "GET",
					data:
						{
							bandera: 'cm',
							id: $(this).val()
						},
					url: "{% url 'vista_ajax_municipio' %}",
					success: function(msg)
					{
						$.each(msg, function(key, val)
						{
							$("#id_centros").append("<option value="+ val.pk  +">" + '' + val.codigo + ' | ' + val.nombre + "</option>");
						});
						$("#id_centros").trigger("chosen:updated");
					}
				});
			})

		})
	</script>
{% endblock %}